
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us - Typo</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='webapp.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="desktop-nav">
        <div class="logo">
            <a href="/homepage">typo</a>
        </div>
        <div>
            <ul class="nav-links">
                <li><a href="/read_user">Read</a></li>
                <li><a href="/new_paper">Write</a></li>
                <li><a href="/my_posts">My posts</a></li> 
            </ul>
        </div>
    </nav>
    <section id="about-us">
        <div class="about-us-title">
            <h1>About us</h1>
        </div>
        <div class="about-us-p">
            <p>
                This website was created by O.  
            </p>
            <p>
                Created for the sole purpose of reading, writing & sharing ideas & thoughts about anything & everything.
            </p>
            <p>
                Typo makes it easier to complete thoughts & interpret inputs from other users using AI.
            </p>
            <p class="about-us-p4">
                Hence the name Typo.
            </p>
        </div>
    </section>
</body>
</html>